<h2>Vota por tu juego favorito!</h2>
<hr>
<div class="row row-cols-2 row-cols-md-4 g-4">
    <div class="col" *ngFor="let item of juegos">
        <div class="card bg-dark ">
            <img [src]="item.url" class="card-img-top altura" [alt]="item.name">
            <div class="card-body text-center">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">pulsa para votar por el juego!</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-warning" (click)="votar(item)" type="button">Votar</button>

                </div>
            </div>
        </div>
    </div>


</div>